<div class="container">
    <form (submit)="logIn()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <input type="submit" value="Log In">
      </div>
      <p>Don't remember the password ? <a routerLink="/forget">Forget Password</a></p><br>
      <p>New User ? <a routerLink="/signup">Sign Up</a></p><br>
      <p *ngIf="error" style="color: red;">{{error}}</p>
    </form>
</div>
