<div class="container">
  <h2>All Tasks</h2><br>
  <div class="sorting-options">
    <label for="sortOption">Sort By:</label>
    <select id="sortOption" [(ngModel)]="sortingOption" (change)="onSortOptionChange($any($event.target).value)">
      <option value="dueDate">Due Date</option>
      <option value="priority">Priority</option>
      <option value="status">Status</option>
    </select>
  </div>
  <div class="task-list">
    <ul>
      <li *ngFor="let task of sortedTasks()">
        <app-task-details [task]="task"></app-task-details>
      </li>
    </ul>
  </div>
  <button class="csvBtn" (click)="exportToCSV()">Export to CSV</button>
  <a routerLink="/create"><button class="addBtn">Add New Task</button></a>
  <p *ngIf="error">{{error}}</p>
</div>