<div>
<header class="header">
    <div class="logo">
        <img width="100" height="100" src="https://img.icons8.com/bubbles/100/reminders.png" alt="reminders"/>
    </div>
    <h1>Task Manager</h1>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/signup" class="link">Sign Up</a></li>
        <li><a routerLink="/login" class="link">Log In</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Task Management Made Easy</h1>
      <p>Stay organized and boost your productivity with our intuitive task management system.</p>
      <a routerLink="/login" class="cta-button">Get Started</a>
    </div>
  </section>
  <section class="features">
    <h2>Key Features</h2>
    <div class="feature">
        <img width="75" height="75" src="https://img.icons8.com/bubbles/100/task.png" alt="task"/>
      <h3>Task Organization</h3>
      <p>Effortlessly organize your tasks into categories and prioritize them to stay on top of your work.</p>
    </div>
    <div class="feature">
        <img width="60" height="60" src="https://img.icons8.com/color/96/export-csv.png" alt="export-csv"/>
      <h3>Download your task as a CSV file</h3>
      <p>You can simply download your tasks into a CSV in just one click.</p>
    </div>
    <div class="feature">
        <img width="50" height="50" src="https://img.icons8.com/cotton/64/track-order.png" alt="track-order"/>
        <h3>Track History</h3>
        <p>You can watch the history log that shows all the changes made to each task.</p>
      </div>
  </section>
</div>